@model ProductService.Models.Product

<h2>Product Details</h2>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Name:</strong> @Model.ProductName</p>
<p><strong>Description:</strong> @Model.ProductDescription</p>
<p><strong>Price:</strong> @Model.Price</p>
<p><strong>CategoryId:</strong> @Model.CategoryId</p>

<a href="/Product/Index">Back to list</a>
